#body {
  background-color: white;

  margin: 50px auto;

  padding: 20px;
  display: block;

  width: 1000px;
  min-height: 500px;
  height: auto;

  box-shadow: 0 2px 2px #D3D3D3;
  border-radius: 5px;
}
