<div id="dictionary">
    <div class="header">
        <div class="header-name"><p>Word ({{sourceLanguage | titlecase}})</p></div>
        <div class="header-name"><p>Translation</p></div>
    </div>

    <div class="table-row" *ngFor="let word of words; let index = index">
        <div class="table-row-column"><p>{{word['english']}}</p></div>
        <div class="table-row-column">
            <p *ngIf="!checkVocabulary">{{word['dutch']}}</p>
            <input type="text" [name]="'wordInputRow' + index" #input
                   *ngIf="checkVocabulary"
                   [ngClass]="(true) ? 'correct' : 'incorrect'"/>
        </div>
    </div>
</div>
