.background {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #efeeee;

}

#dictionary-app {
    position: absolute;
    width: 100%;
    height: 100%;

    .body {
        margin-left: 250px;
    }
}
