<div id="navigation">
  <div class="logo">
    <img src="/assets/logo-lion.svg" alt="Logo" />
  </div>
  <div class="menu disable-select">
    <label>Vocabulary check</label>
    <input type="checkbox" [checked]="checkVocabulary" (change)="vocabularyCheck()">
      <hr>
    <label>Shuffle words</label>
    <input type="checkbox" [checked]="shuffleWords" (change)="wordShuffle()">

    <hr>

    <label>Left column</label>
    <select (change)="leftColumn = $event.target.value; vocabularyService.leftColumn.next($event.target.value)">
      <option *ngFor="let language of languagesList">{{language | titlecase}}</option>
    </select>

    <label>Right column</label>
    <select (change)="rightColumn = $event.target.value; vocabularyService.rightColumn.next($event.target.value)">
      <option *ngFor="let language of languagesList">{{language | titlecase}}</option>
    </select>

    <hr>
  </div>
</div>
