<div id="navigation">
  <div class="logo">
    <img src="/assets/lion.svg" alt="Logo" />
  </div>
  <div class="menu disable-select">
    <label>Vocabulary check</label>
    <input type="checkbox" [checked]="checkVocabulary" (change)="vocabularyCheck()">

    <hr>

    <label>Left column</label>
    <select (change)="leftColumn = $event.target.value">
      <option>Dutch</option>
      <option selected>English</option>
      <option>Russian</option>
      <option>Italian</option>
      <option>French</option>
    </select>

    <label>Right column</label>
    <select (change)="rightColumn = $event.target.value">
      <option selected>Dutch</option>
      <option>English</option>
      <option>Russian</option>
      <option>Italian</option>
      <option>French</option>
    </select>

    <hr>
  </div>
</div>
